{% extends 'layout/main.html.twig' %}

{% block title %}Formations{% endblock %}

{% block main %}
<h1>Formations</h1>
<form id="formation-create-form" action="{{ path('app_formation_creer') }}" method="post">
<table class="table-panel">
    <thead>
        <tr>
            <th scope="col"><input type="checkbox"></th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Compétences</th>
            <th scope="col">Image</th>
            <th scope="col">Visibilité</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <i class="fa-solid fa-file-circle-plus"></i>
            </td>
            <td>
                <input class="table-textfield" type="text" name="titre" required>
            </td>
            <td>
                <input class="table-textfield" type="text" name="description" required>
            </td>
            <td>
                <i class="fa-solid fa-plus"></i>
            </td>
            <td>
                <div class="file-selector-container" data-row-id=0>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <input type="file" class="file-selector-input" data-row-id=0 hidden>
            </td>
            <td>
                <input type="checkbox" name="estVisible">
            </td>
            <td>
                <button type="submit" class="utility-button" title="création">
                <i class="fa-solid fa-check"></i>
                </button>
            </td>
        </tr>
        {% for formation in formations %}
            {% set afficher = false %}

            {% if 'ROLE_ADMIN' in app.user.roles %}
                {% set afficher = true %}
            {% else %}
                {% for fc in formation.competences %}
                    {% for uc in app.user.competences %}
                        {% if fc.competence.nom == uc.competence.nom %}
                            {% set afficher = true %}
                        {% endif %}
                    {% endfor %}
                    {% if afficher %}{% endif %}
                {% endfor %}
            {% endif %}

            {% if afficher %}
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    {{ formation.titre }}
                </td>
                <td class="truncate">
                    {{ formation.description }}
                </td>
                <td>
                    {% for fc in formation.competences %}
                        {{ fc.competence.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    
                </td>
                <td>
                    <div class="file-selector-container" data-row-id={{ formation.id }}>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <input type="file" class="file-selector-input" data-row-id={{ formation.id }} hidden>
                </td>
                <td>
                    {% if formation.estVisible == 1 %}
                    <input type="checkbox" checked>
                    {% else %}
                    <input type="checkbox">
                    {% endif %}
                </td>
                <td>
                    <i class="fa-solid fa-pen"></i>
                    <form method="post" action="{{ path('app_formation_delete', {'id':formation.id}) }}" style="display:inline">
                    <button type="submit" class="utility-button" title="supression" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette formation ?';)">
                    <i class="fa-solid fa-xmark"></i>
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}