{% extends 'layout/main.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="bienvenue">
        <h1>Bienvenue {{ app.user.prenom }}</h1>
    </div>
    <h2>Formations disponibles</h2>
    {% for formation in formationsDisponibles %}
        <div class="home-formation-container">
            <h3>{{ formation.titre }} - {{ formation.getNbParticipantsMaxTotaux() }} places</h3>
            <div class="truncate">
                {{ formation.description|raw }}
            </div>
            <h3>Sessions</h3>
            <ul>
            {% for session in formation.getSessionsVisibles(app.user) %}
                <li class="home-formation-session">
                <a href={{ path('app_session', {id: session.id}) }}>{{ session.titre }} - du {{ session.heureDebut|format_datetime() }} au {{ session.heureFin|format_datetime() }} - {{ session.salle }}
                    <br>Fin des inscriptions le {{ session.dateLimiteInscription|format_datetime() }}
                    <br>{{ session.getNbParticipantsRestants() }} restantes / {{ session.getNbParticipantsMax() }} places
                </a>
                {% if session.estParticipant(app.user) %}
                    <a href={{ path('app_session_desinscription', {id: session.id}) }} class="btn warning-button">Se désinscrire</a>
                {% else %}
                    {% if session.dateLimiteInscription > maintenant %}
                        <button class="btn utility-button ouvrir-modal-inscription" data-id={{ session.id }} data-bs-toggle="modal" data-bs-target="#objectifsModal">S'inscrire</button>
                    {% else %}
                        <span>Terminé</span>
                    {% endif %}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div class="modal" id="objectifsModal">
        <form method="POST" id="modal-form-inscription">
            <label for="objectifs">Quels sont vos objectifs ?</label>
            <textarea id="objectifs" name="objectifs" rows="10" cols="100" required>test</textarea>
            <div class="modal-buttons-container">
                <button type="button" class="btn warning-button" id="modal-btn-close">Fermer</button>
                <button type="submit" class="btn utility-button">S'inscrire</button>
            </div>
        </form>
    </div>
    {% if formationsDisponibles is empty %}
        <p>Aucune formation disponible.</hp>
    {% endif %}
    <script>
        document.addEventListener('turbo:load', () => {
            const boutons = document.querySelectorAll('.ouvrir-modal-inscription');
            const modal = document.querySelector('.modal');
            const form = document.getElementById('modal-form-inscription');
            const close_btn = document.getElementById('modal-btn-close');
            
            boutons.forEach(bouton => {
                bouton.addEventListener("click", () => {
                    const sessionId = bouton.dataset.id;
                    form.action = `/sessions/${sessionId}/inscription`;
                    modal.classList.add("modal-open");
                })
            })

            close_btn.addEventListener("click", () => {
                    modal.classList.remove("modal-open");
                })
        })
    </script>
{% endblock %}