{% extends 'layout/main.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="bienvenue">
        <h1>Bienvenue {{ app.user.prenom }}</h1>
    </div>
    <h2>Formations disponibles</h2>
    {% for formation in formationsDisponibles %}
        <div class="home-formation-container">
            <h3>{{ formation.titre }}</h3>
            <div class="truncate">
                {{ formation.description|raw }}
            </div>
            <h3>Sessions</h3>
            <ul>
            {% for session in formation.getSessionsVisibles(app.user) %}
                <li class="home-formation-session">
                <a href={{ path('app_session', {id: session.id}) }}>{{ session.titre }} - du {{ session.heureDebut|format_datetime() }} au {{ session.heureFin|format_datetime() }} - {{ session.salle }}
                    <br>Fin des inscriptions le {{ session.dateLimiteInscription|format_datetime() }}
                    <br>{{ session.getNbParticipantsRestants() }} restantes / {{ session.getNbParticipantsMax() }} places
                </a>
                {% if session.estParticipant(app.user) %}
                    <a href={{ path('app_session_desinscription', {id: session.id}) }} class="btn warning-button">Se désinscrire</a>
                {% else %}
                    {% if session.dateLimiteInscription > maintenant %}
                        <button class="btn utility-button ouvrir-modal-inscription" data-id={{ session.id }} data-bs-toggle="modal" data-bs-target="#objectifsModal">S'inscrire</button>
                    {% else %}
                        <span>Terminé</span>
                    {% endif %}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    {% if formationsDisponibles is empty %}
        <p>Aucune formation disponible.</hp>
    {% endif %}
{% endblock %}