{% extends 'layout/main.html.twig' %}

{% block title %}Tableau de bord - Admin{% endblock %}

{% block body_attributes %}
    style="background-color: {{ background_color|default('#ffffff') }};"
{% endblock %}

{% block main %}
<style>
    body {
        background-color : white;
    }
</style>
<div class="settings-container">
    <div class="settings-title-container">
        <h2 class="h2 settings-title">Infrastructures et Utilisateurs</h2>
        <div class="line"></div>
    </div>
    <p>Cette section est consacrée a la gestion des utilisateurs, des services et des salles.</p>
    <div class="admin-settings-buttons settings-btn "> 
        <button class="btn admin-btn settings-button utility-color"> Gérer les utilisateurs </button>
        <button class="btn admin-btn utility-color"> Gérer les services </button>
        <button class="btn admin-btn utility-color"> Gérer les salles </button>
    </div>
</div>
<div class="settings-container">
    <div class="settings-title-container">
        <h2 class="h2 settings-title">Formations</h2>
        <div class="line"></div>
    </div>
    <p>Cette section est consacrée à la gestion des formations et de leurs sessions.</p>
    <div class="admin-settings-buttons settings-btn"> 
        <button class="btn admin-btn utility-color"> Gérer les formations </button>
        <button class="btn admin-btn utility-color"> Gérer les sessions de formations </button>
        <button class="btn admin-btn utility-color"> Gérer les compétences </button>
    </div>
</div>
<div class="settings-container">
    <div class="settings-title-container">
        <h2 class="h2 settings-title">Charte graphique</h2>
        <div class="line"></div> 
    </div>
    <p>Cette section est consacrée à la personnalisation et la gestion de la charte graphique du site</p>
    <input type="color" value="{{background_color}}"/>
    <label>Couleur d'arrière plan</label>
    <input type="color" value="{{utility_button}}"/>
    <label>Couleur Boutons Contextuels</label>
    <input type="color" value="{{warning_button}}"/>
    <label>Couleur Boutons Importants</label>
    <input type="color" value="{{login_background_color}}"/>
    <label>Couleur Arrière plan du Login</label>
</div>



{% endblock %}