{% extends 'layout/main.html.twig' %}

{% block title %}Tableau de bord - Admin{% endblock %}


{% block main %}
<div class="settings-container">
    <div class="settings-title-container">
        <h2 class="h2 settings-title">Infrastructures et Utilisateurs</h2>
        <div class="line"></div>
    </div>
    <p>Cette section est consacrée a la gestion des utilisateurs, des services et des salles.</p>
    <div class="admin-settings-buttons settings-btn "> 
        <a href="/admin/utilisateur"> <button class="btn admin-btn settings-button utility-color"> Gérer les utilisateurs </button> </a>
        <button class="btn admin-btn utility-color"> Gérer les services </button>
        <button class="btn admin-btn utility-color"> Gérer les salles </button>
    </div>
</div>
<div class="settings-container">
    <div class="settings-title-container">
        <h2 class="h2 settings-title">Formations</h2>
        <div class="line"></div>
    </div>
    <p>Cette section est consacrée à la gestion des formations et de leurs sessions.</p>
    <div class="admin-settings-buttons settings-btn"> 
        <button class="btn admin-btn utility-color"> Gérer les formations </button>
        <button class="btn admin-btn utility-color"> Gérer les sessions de formations </button>
        <button class="btn admin-btn utility-color"> Gérer les compétences </button>
    </div>
</div>
<form method="post" action="{{ path('admin_update_colors') }}">
    <div class="settings-container">
        <div class="settings-title-container">
            <h2 class="h2 settings-title">Charte graphique</h2>
            <div class="line"></div> 
        </div>
        <p>Cette section est consacrée à la personnalisation et la gestion de la charte graphique du site</p>
        <div class="couleur-btn">
            <div class="hex-btn">
                <input type="color" name="background_color" value={{ parametres.getParametre("background_color") }} />
                <label>Couleur d'arrière plan</label>
            </div>
            <div class="hex-btn">
                <input type="color" name="primary_color" value={{ parametres.getParametre("primary_color") }} />
                <label>Couleur Principale</label>
            </div>
            <div class="hex-btn">
                <input type="color" name="utility_button" value={{ parametres.getParametre("utility_button") }} />
                <label>Couleur Boutons Contextuels</label>
            </div>
            <div class="hex-btn">
                <input type="color" name="warning_button" value={{ parametres.getParametre("warning_button") }} />
                <label>Couleur Boutons Importants</label>
            </div>
            <div class="hex-btn">
                <input type="color" name="login_background_color" value={{ parametres.getParametre("login_background_color") }} />
                <label>Couleur Arrière plan du Login</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn admin-btn utility-color">Appliquer</button>
</form>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}