<header>
    <nav id="header-nav">
        <div id="header-nav-left-side">
            <a id="header-logo-container" href={{ path('app_home') }}>
                <img id="header-logo" alt="Accueil" src={{ asset('img/logo.png') }}>
            </a>
            <div id="header-nav-links">
            {% if is_granted('ROLE_ADMIN') %}
                <a href={{ path('app_admin_dashboard') }}>Administration</a>
            {% endif %}
                <a href={{ path('app_formation') }}>Formation</a>
                <a href={{ path('app_account') }}>Compte</a>
            </div>
        </div>
        <div class="logout-container">
            <a class="btn logout-btn warning-button" href="/logout">
                <span>Se déconnecter</span>
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </nav>
</header>