{% extends 'layout/main.html.twig' %}

{% block title %}Mes Formations{% endblock %}

{% block main %}
<h2>Formations disponibles</h2>
<div>
    {% for formation in formationsDisponibles %}
        <h3>{{ formation.titre }}</h3>
            <div class="truncate">
                {{ formation.description }}
            </div>
            <ul>
                {% for session in formation.sessions %}
                    <li>
                        {% if session.heureDebut|date('d/m/Y') == session.heureFin|date('d/m/Y')  %}
                            De {{ session.heureDebut|date('H:i:s') }} à {{ session.heureFin|date('H:i:s') }} le {{ session.heureDebut|date('d/m/Y') }}
                        {% else %}
                            De {{ session.heureDebut|date('H:i:s') }} à {{ session.heureFin|date('H:i:s') }} du {{ session.heureDebut|date('d/m/Y') }} à {{ session.heureFin|date('d/m/Y') }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
    {% endfor %}
</div>

{% if formationsDisponibles is empty %}
    <p>Aucune formation disponible.</p>
{% endif %}

<h2>Mes Formations</h2>
<div>
    {% for formation in mesFormations %}
        <h3>{{ formation.titre }}</h3>
            <div class="truncate">
                {{ formation.description }}
            </div>
            <ul>
                {% for session in formation.sessions %}
                    <li>
                        {% if session.heureDebut|date('d/m/Y') == session.heureFin|date('d/m/Y')  %}
                            De {{ session.heureDebut|date('H:i:s') }} à {{ session.heureFin|date('H:i:s') }} le {{ session.heureDebut|date('d/m/Y') }}
                        {% else %}
                            De {{ session.heureDebut|date('H:i:s') }} à {{ session.heureFin|date('H:i:s') }} du {{ session.heureDebut|date('d/m/Y') }} à {{ session.heureFin|date('d/m/Y') }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
    {% endfor %}

    {% if mesFormations is empty %}
        <p>Pas d'inscription</p>
    {% endif %}
    <div id="calendar-holder"></div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        const calendarEl = document.getElementById('calendar-holder');

        const calendar = new FullCalendar.Calendar(calendarEl, {
            defaultView: 'dayGridMonth',
            editable: true,
            locale: 'fr',
            firstDay: 1,
            eventSources: [
                {
                    url: '/fc-load-events',
                    method: 'POST',
                    extraParams: {
                        filters: JSON.stringify({})
                    },
                    failure: () => {
                        // alert('There was an error while fetching FullCalendar!');
                    },
                },
            ],
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false
            },
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            timeZone: 'UTC',
            });

            calendar.render();
        });
    </script>
</div>
{% endblock %}
