{% extends '/layout/main.html.twig' %}

{% block title %}Session{% endblock %}

{% block main %}
    <a href={{ path('app_formations') }}>Mes Formations</a>
    <h1>{{ session.formation }}</h1>
    {% if session.titre %}
        <h2>Session - {{ session.titre }}</h2>
    {% endif %}
    <p>Session du {{ session.heureDebut|format_datetime() }} au {{ session.heureFin|format_datetime() }}</p>
    <p>{{ session.formation.description|raw }}</p>
{% endblock %}
