{% extends '/layout/main.html.twig' %}

{% block title %}Session{% endblock %}

{% block main %}
    <a href={{ path('app_formations') }}>Mes Formations</a>
    {% if session.formation.estVisible %}
        <div class="session_title_container">
            <h1>{{ session.getTitreComplet() }}</h1>
            {% if session.id in participationsSessionsId %}
                <a href={{ path('app_session_desinscription', {id: session.id}) }} class="btn warning-button">Se désinscrire</a>
            {% else %}
                <a href={{ path('app_session_inscription', {id: session.id}) }} class="btn utility-button">S'inscrire</a>
            {% endif %}
        </div>
        <p>Session du {{ session.heureDebut|format_datetime() }} au {{ session.heureFin|format_datetime() }} - {{ session.getNbParticipantsRestants() }} restantes / {{ session.getNbParticipantsMax() }} places</p>
        <p>{{ session.formation.description|raw }}</p>
    {% else %}
        <h1>Session invalide</h1>
        <a href={{ path('app_formations') }}>Cette session n'est pas accessible pour votre profil - Retourner à la page Mes formations</a>
    {% endif %}
{% endblock %}
