<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - AppFormation - Mairie de Villefontaine</title>
        <link rel="icon" href="/img/logo.png">
        <style>
            :root {
                --primary-color:{{ parametres.getParametre("primary_color", "#A2BF3D") }} ;
                --utility-button:{{ parametres.getParametre("utility_button", "#6F82FF") }} ;
                --warning-color:{{ parametres.getParametre("warning_button", "#FF0000") }} ;
                --background-color:{{ parametres.getParametre("background_color", "#ffffff") }} ;
                --login-background-color:{{ parametres.getParametre("login_background_color", "#A2BF3D") }} ;
            }
            
        </style>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <script src="https://kit.fontawesome.com/0ffe4ff22f.js"></script>
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% block body %}{% endblock %}
    </body>
</html>
